<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="DIGITAL_DIARYConnectionString" connectionString="Data Source=DESKTOP-3388QDK;Initial Catalog=DIGITAL_DIARY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TRAVEL_RECConnectionString" connectionString="Data Source=DESKTOP-3388QDK;Initial Catalog=DIGITAL_DIARY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="constr" connectionString="Data Source=DESKTOP-3388QDK;Initial Catalog=DIGITAL_DIARY;Integrated Security=true"/>
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <globalization culture="en-GB"/>
    </system.web>
  <appSettings>

    <add key="LIS" value="server=DESKTOP-3388QDK;database=DIGITAL_DIARY;Integrated Security=true" />
  </appSettings>

</configuration>
